<launch>
  <arg name="width" default="1280"/>
  <arg name="height" default="720"/>
  <arg name="framerate" default="30"/>
  <arg name="camera" default="right_camera"/>
  <arg name="input" default="/dev/video4"/>
  <include file="$(find rvr_recognition)/launch/usb_camera.launch">
    <arg name="width" value="$(arg width)"/>
    <arg name="height" value="$(arg height)"/>
    <arg name="framerate" value="$(arg framerate)"/>
    <arg name="camera" value="$(arg camera)"/>
    <arg name="input" value="$(arg input)"/>
  </include>
</launch>
